<div class="page-header about-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div id="history" class="row justify-content-md-center">
    <div class="col-md-8">

      <h2>History</h2>

      <p>Special Connections Academy was founded by a DIR®/Floortime™ therapist and the parents of Gabriel, a child with autism and intellectual disabilities. They saw the benefits of DIR®/Floortime™ through his experience. The <strong>connection</strong> between the family, the therapist and Gabriel was the engine that propelled his social-emotional development and allowed real learning. He was finally able to succeed and feel happy. So, they decided to make DIR®/Floortime™ available to other individuals and families in a school environment.</p>


    </div>
  </div>

</div>

<div class="image-quote">
  <div class="container">

    <div class="row">
      <div class="col-md-5 text-center">
        <img src="images/about-us-pic.png" class="img-fluid img-thumbnail" alt="" style="margin-bottom: 30px;" />
      </div>
      <div class="col-md-6">
        <blockquote>
          "Every child deserves a champion: an adult who will never give up on them, who understands the power of connection and insists they become the best they can possibly be."<br/>
          <em>&ndash; Rita Pierson, Educator</em>
        </blockquote>
      </div>
    </div>

  </div>
</div>

<div class="container">

  <div id="mission" class="row justify-content-md-center">
    <div class="col-md-8">

      <h2>Mission &amp; Vision</h2>

      <p>Special Connections Academy’s mission is to provide individuals with Autism and other developmental disabilities an educational environment that fosters socio-emotional, developmental and academic growth. The goal of our program is to collaborate with families and the community to enrich the lives of our students and help them live to their fullest potential.</p>

      <p>We ENVISION a community where the individuality of the population with special needs is accepted and appreciated.</p>


    </div>
  </div>

</div>

<div class="grey-background" style="padding-bottom: 70px;">

  <div class="container">

    <div id="board" class="row">
      <div class="col-12">

        <h2 style="margin-bottom: 30px;">Board of Directors</h2>

        <div class="row team-table">

          <hr/>
          
          <div class="col-12">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="images/people/monica.png" alt="" class="person-pic" />
              </div>
              <div class="col-md-9">
                <p><strong>Monica Lombello</strong><br/>
                  Administrative Director and Co-Founder<br/>
                  B.A. Business, Marketing and Advertising from ESPM, Brazil<br/>
                DIR®/Floortime™ Practitioner Certificate Level 1</p>

                <p>Monica is the mother of four children who, like many families of special needs children, had to make many changes in her life to accommodate the needs of her third child, Gabriel. In the process of helping him, she became his best therapist and advocate, always replicating everything she saw in therapy sessions into the daily life of Gabriel. When she discovered DIR®/Floortime™ and experienced firsthand the change it made in her son’s self-esteem and independence, she decided to deepen her knowledge and pursued a DIR®/Floortime™ certification herself to further help Gabriel develop. Today, Monica is ready to advocate and help all the children that are not able to thrive in other school settings.</p>
              </div>
            </div>
          </div>

          <hr/>

          <div class="col-12">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="images/people/rodrigo.png" alt="" class="person-pic" />
              </div>
              <div class="col-md-9">
                <p><strong>Rodrigo Lombello</strong><br/>
                  Co-Founder<br/>
                  MBA - Kenan-Flagler School of Business at the University of North Carolina<br/>
                  Member of the Beta Gamma Sigma Honor Society<br/>
                CMA</p>

                <p>Rodrigo serves as CEO of GolTV, Inc. During the last twenty years, Rodrigo has held high-level financial positions at Dell Computer Corporation in Texas, McKinsey &amp; Company in Lisbon, Portugal, Bielco Comercial, the Bosch Group company in Brazil, and as a Controller at the Grupo CMSP in Brazil.</p>
              </div>
            </div>
          </div>

          <hr/>

          <div class="col-12">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="images/people/marina.png" alt="" class="person-pic" />
              </div>
              <div class="col-md-9">
                <p><strong>Marina Aviles</strong><br/>
                  Educational Director and Co-Founder<br/>
                  B.S. Exceptional Student Education/Reading and ESOL Endorsement<br/>
                DIR®/Floortime™ Practitioner Certificate Level 2</p>

                <p>Marina has worked with individuals with severe cognitive and developmental disabilities in home-based, private and public settings for more than five years. She is very passionate about the relationship-based model and loves creating engaging activities for her students.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">

  <div id="team" class="row justify-content-md-center" style="padding-bottom: 80px;">
    <div class="col-md-8">

      <h2 style="margin-bottom: 30px;">Team</h2>

      <div class="row team-table">

        <hr/>

        <div class="col-12">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="images/people/monica.png" alt="" class="person-pic" />
            </div>
            <div class="col-md-8">
              <p><strong>Monica Lombello</strong><br/>
                Administrative Director and Co-Founder<br/>
                B.A. Business, Marketing and Advertising from ESPM, Brazil<br/>
              DIR®/Floortime™ Practitioner Certificate Level 1</p>
            </div>
          </div>
        </div>

        <hr/>

        <div class="col-12">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="images/people/marina.png" alt="" class="person-pic" />
            </div>
            <div class="col-md-8">
              <p><strong>Marina Aviles</strong><br/>
                Educational Director and Co-Founder<br/>
                B.S. Exceptional Student Education/Reading and ESOL Endorsement<br/>
              DIR®/Floortime™ Practitioner Certificate Level 2</p>
            </div>
          </div>
        </div>

        <hr/>

        <div class="col-12">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="images/people/bernadette.png" alt="" class="person-pic" />
            </div>
            <div class="col-md-8">
              <p><strong>Bernadette Berardino</strong><br/>
                Teacher Assistant<br/>
                B.A. Psychology from FAU<br/>
              DIR®/Floortime™ Practitioner Certificate Level 1</p>
            </div>
          </div>
        </div>

        <hr/>

        <div class="col-12">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="images/people/dave.png" alt="" class="person-pic" />
            </div>
            <div class="col-md-8">
              <p><strong>Dave Nelson</strong><br/>
                DIR®/Floortime™ Consultant<br/>
                M.S. in Counseling and M.A. in English Literature from Georgia State University<br/>
                MBA from Duke University<br/>
                Administrative Director of The Community School<br/>
              Expert Trainer DIR®/Floortime™ Provider Certificate</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>