<div class="page-header about-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Admissions</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row justify-content-lg-center">
    <div class="col-lg-8">

      <h2>Who We Serve</h2>
      
      <p>SPC serves students ages 5 to 21 that are not able to appropriately access education and/or important socio-emotional skills in traditional educational settings.</p>
      
      <p>Our students may be diagnosed with Autism Spectrum Disorder  among other related developmental disabilities.</p>

      <p>We might be a right fit for your child if he/she  has difficulty with one or more of the following areas:</p>
      
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Communication</td>
            <td>
              <ul>
                <li>Making sense of gestures and words</li>
                <li>Non-verbal or lacks language to communicate effectively</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Cognitive Ability and Academic Skills</td>
            <td>
              <ul>
                <li>Learning new skills</li>
                <li>Learns concepts but not able to apply them in different or new ways in the real world</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Sensory Processing and Regulation</td>
            <td>
              <ul>
                <li>Remaining calm and/or reacting adversely to sound, lights, touch or other sensory inputs</li>
                <li>Getting stimulated enough to carry out a task or remaining attentive</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Behavior</td>
            <td>
              <ul>
                <li>Accepting and/or understanding discipline</li>
                <li>Aggressive or self injurious behavior</li>
                <li>Repetitive or self-stimulatory behavior</li>
                <li>Difficulty with age-appropriate social skills</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Independence</td>
            <td>
              <ul>
                <li>Getting basic needs met (dressing, grooming, feeding, toileting etc.)</li>
                <li>Needs support for most daily activities </li>
                <li>Lacks preferred or independent activities</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Building Relationships</td>
            <td>
              <ul>
                <li>Interacting with caregivers and peers</li>
                <li>Initiating an interaction or  sustaining eye contact</li>
                <li>Establishing friendships</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Motor Planning</td>
            <td>
              <ul>
                <li>Clumsy or fearful movements</li>
                <li>Effectively plan to complete motor activities</li>
                <li>Imitate movements or gestures</li>
                <li>Poor fine and gross motor skills </li>
                <li>Following multi-step instructions</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Enjoyment, Well Being and Self-Esteem</td>
            <td>
              <ul>
                <li>Understanding and expressing emotions</li>
                <li>Rigid or routinistic</li>
                <li>Anxious or uninterested</li>
                <li>Does not show enjoyment in school or at home</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <p>TODO: add quote and image</p> -->

    </div>
  </div>
</div>


<div class="grey-background" id="schedule-a-tour">
  <div class="container">

    <div class="row justify-content-lg-center">
      <div class="col-lg-8">

        <h2>How to Apply</h2>

        <p>Special Connections Academy offers a twelve-month program for our students, following the 10-month Broward County school calendar and a summer program.</p>

        <p>SPC has a rolling enrollment policy. If your child is eligible and there is availability, he/she can start at SPC in just a couple of weeks.</p>

        <h4>Schedule a Tour</h4>
        <p>We encourage you to visit our school to learn more about our program and approach.</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcCOP36I9vgnkjFCdYZ2Ob6mQGA1pLpwk6ytJWHT9yPJU_LA/viewform?usp=sf_link" target="_blank" class="btn btn-primary">Schedule a Tour</a>

        <h4>Schedule an Evaluation</h4>
            
        <ul>
          <li>Parent interview</li>
          <li>Observation of child interacting with parent</li>
          <li>Child interaction with Educational Director</li>
        </ul>

        <p>Eligibility will be determined after evaluation is completed.</p>


        <p>We accept <a href="http://www.fldoe.org/schools/school-choice/k-12-scholarship-programs/mckay/mckay-parent-info.stml">McKay Scholarship</a> and <a href="http://www.fldoe.org/schools/school-choice/k-12-scholarship-programs/gardiner/">Gardiner Scholarship</a> towards payment of the school’s tuition.</p>

        <p>Special Connections Scholarship might be available for qualifying families. </p>

        <p><small><em>Special Connections Academy does not discriminate students against race, sex, religion, color, national or ethnic origin or sexual orientation in the administration of its educational policies, admission policies, scholarship programs, athletic or other after school or school administered programs as well as its hiring policies and practices.</em></small></p>

      </div>
    </div>
  </div>
</div>