<div class="page-header about-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Donate</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row justify-content-lg-center">
    <div class="col-lg-8">

      <!-- <h2>Contact Information</h2> -->

      <!-- <h2 id="join-our-team">Join Our Team</h2> -->

      <p style="margin-top: 50px;">To achieve the goal of providing exceptional education services to students with significant developmental challenges, Special Connections Academy needs the active support of sponsors committed to our mission. The nature of the challenges of the students SPC serves, require expert human resource, small teacher/student ratios, specific furniture and infrastructure, individualized curriculums and materials, among other costs of operation. SPC program proves to be a great monetary cost to some households, and we recognize the necessity and opportunity to make our tuition affordable and/or provide scholarships to qualifying families.</p>

      <p><strong>Special Connections Academy Inc. is a 501(c)(3) organization, making your donation tax deductible.</strong></p>

      <p>Please consider making a donation:</p>

      <h3>Gift Donation</h3>
      <p>Your donation will be used to provide staff and parent training, to ease cost of field trips, to acquire new equipment, buy school supplies. You can also subscribe to a recurrent contribution.</p>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="5Z5WEX945XS9L">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

      <h3>Special Connection Donation</h3>
      <p>Make a Special Connection with a family by donating any amount towards the total tuition cost. Please contact the Administrative Director for more details.</p>

      <h3>In Kind Donation</h3>
      <p>Our students will benefit from anything you can donate, from office supplies to furniture, smart boards, books, sensory toys , gift cards… Everything helps! Here is a link to SPC Amazon’s Wish List.</p>

      <h3>Favorite Donation</h3>
      <p>Are you passionate about something and believe our students will benefit from it? Feel free to donate materials and training to introduce our students to your favorite hobby. Contact the Educational Director to develop this project.</p>

      <h3>Service Donation</h3>
      <p>Help us accomplish our mission by partnering with SPC. Share your skill or volunteer your time with us.</p>

      <p>We hope the opportunity to get involved in Special Connections Academy’s mission will inspire your business and organization to broaden the opportunities for disabled individuals to reach their full potential and become an integral part of society once they reach adulthood.</p>

    </div>
  </div>
</div>

<div class="grey-background" id="floortime-afternoon">
  <div class="container">

    <div class="row justify-content-lg-center">
      <div class="col-lg-8">

        <h2>Our Special Connections</h2>

        <p style="margin-bottom: 50px;">We want to thank the following individuals/companies that got involved in our school and showed a great commitment to our vision of appreciating and accepting the special needs community.</p>

        <div class="row">
          <div class="col-md-4">
            <a href="https://motifdesignpr.com/" target="_blank" style="display: block; margin-bottom: 30px;"><img src="images/sponsors/motif.png" srcset="images/sponsors/motif@2x.png 2x" alt="Motif Design" /></a>
          </div>
          <div class="col-md-4">
            <a href="http://www.medlockcpa.com/" target="_blank" style="display: block; margin-bottom: 30px;"><img src="images/sponsors/medlock.png" srcset="images/sponsors/medlock@2x.png 2x" alt="Melissa M. Medlock" /></a>
          </div>
          <div class="col-md-4">
            <a href="https://www.kevingainescpa.com/" target="_blank" style="display: block; margin-bottom: 30px;"><img src="images/sponsors/kevin-gaines.png" srcset="images/sponsors/kevin-gaines@2x.png 2x" alt="Kevin Gaines CPA, LLC" /></a>

            <a href="http://www.icdl.com/home" target="_blank" style="display: block; margin-top: 30px;"><img src="images/sponsors/dir-floortime.png" srcset="images/sponsors/dir-floortime@2x.png 2x" alt="DIRFloortime" /></a>

            <a href="http://postmultimedia.com/" target="_blank" style="display: block; margin-top: 30px;"><img src="images/sponsors/post-multimedia.png" srcset="images/sponsors/post-multimedia@2x.png 2x" alt="Post Multimedia" /></a>
          </div>
          <div class="col-md-4">
            <img src="images/sponsors/universal-print.png" srcset="images/sponsors/universal-print@2x.png 2x" alt="Universal Print" style="margin: 30px 0 0 0" />
          </div>
        </div>

      

        <p style="margin-top: 50px;">Renee and Alberto Dayan<br/>
        Joseph and Susana Shayo<br/>
        Rita and Alberto Michaan<br/>
        Sandra and Yacha Soued<br/>
        Fortunee Attie<br/>
        Aloia Family<br/>
        Emily Stevenson</p>

      </div>
    </div>
  </div>
</div>