<div class="intro-hero">
  <div class="container">
    <h1>Special Connections Academy</h1>

    <p>SPC is a special education school for individuals with autism and related disabilities in South Florida. We integrate education and healthy development through individualized curriculums and meaningful relationships.</p>

    <!-- <a href="/about-us" class="button">Read About Us</a> -->
  </div>
</div>

<div class="mid-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 part">
        <img src="images/icons/people-icon.png" srcset="images/icons/people-icon@2x.png 2x" alt=""/>
        <p>1.5:1 or 1:1<br/>Student/Teacher Ratio</p>
      </div>
      <div class="col-md-4 part">
        <img src="images/icons/star-icon.png" srcset="images/icons/star-icon@2x.png 2x" alt=""/>
        <p>DIR<br/> Model</p>
      </div>
      <div class="col-md-4 part">
        <img src="images/icons/calendar-icon.png" srcset="images/icons/calendar-icon@2x.png 2x" alt=""/>
        <p>Year-Round<br/>  Program</p>
      </div>
    </div>
  </div> 
</div>

<div class="our-approach-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">

        <h2>Our Approach</h2>

        <p>The Developmental, Individual Differences, Relationship-Based model (DIR®/Floortime™) addresses  the way processing challenges affect an individual's development in the areas of learning, socialization,communication and behavior. Through interactive play, DIR fosters the individual's shared attention, engagement, reciprocal communication, problem solving, and reasoning to help them move up the developmental ladder.</p>

        <a href="/program-information" class="button dark">See Our Program</a>

      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <a href="/program-information" class="home-link">
        <img src="images/home/our-principles.png" srcset="images/home/our-principles@2x.png 2x" alt=""/>
        <span>Our<br/> Principles</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="/admissions" class="home-link">
        <img src="images/home/who-we-serve.png" srcset="images/home/who-we-serve@2x.png 2x" alt=""/>
        <span>Who<br/> We Serve</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="/admissions" class="home-link">
        <img src="images/home/schedule-a-tour.png" srcset="images/home/schedule-a-tour@2x.png 2x" alt=""/>
        <span>Schedule<br/> A Tour</span>
      </a>
    </div>

    <div class="col-sm-6 col-md-4">
      <a href="/admissions" class="home-link">
        <img src="images/home/admissions.png" srcset="images/home/admissions@2x.png 2x" alt=""/>
        <span>Admissions</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="/contact-us" class="home-link">
        <img src="images/home/contact-us.png" srcset="images/home/contact-us@2x.png 2x" alt=""/>
        <span>Contact Us</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="/donate" class="home-link">
        <img src="images/home/donate.png" srcset="images/home/donate@2x.png 2x" alt=""/>
        <span>Donate</span>
      </a>
    </div>

  </div>
</div>