<div class="intro-hero">
  <div class="container">
    <h1>Special Connections Academy</h1>

    <p>SCA is a special education school for individuals with autism and related disabilities in South Florida. We integrate education and healthy development through individualized curriculums and meaningful relationships.</p>

    <a href="/about-us" class="button">Read About Us</a>
  </div>
</div>

<div class="our-approach-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">

        <h2>Our Approach</h2>

        <p>The Developmental, Individual Differences, Relationship-Based model (DIR®/Floortime™) addresses  the way processing challenges affect an individual's development in the areas of learning, socialization,communication and behavior. Through interactive play, DIR fosters the individual's shared attention, engagement, reciprocal communication, problem solving, and reasoning to help them move up the developmental ladder.</p>

        <a href="/program-information" class="button dark">See Our Program</a>

      </div>
    </div>
  </div>
</div>