<div class="page-header program-information">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Program Information</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div id="history" class="row justify-content-md-center">
    <div class="col-md-8">

      <h2>Why the Special Connection?</h2>

      <p>In SPC, we use DIR@Floortime to address sensory, socio-emotional and developmental needs that will help a child be receptive to learn meaningful skills.</p>
 
      <p>We offer 1.5:1 or 1:1 student/teacher ratio to better support the needs of our students.</p>


      <h2>Academic Principles at SPC</h2>

      <ul>

        <li>Students are individuals who have feelings, ideas and desire to connect with others, therefore we must ensure they are physically and emotionally healthy. </li>

        <li>Students learn best when they are given freedom to make mistakes, they are offered choices and are encouraged to make decisions about their own learning. </li>
        
        <li>Intrinsic rewards such as self-confidence, enjoyment and trusting relationships are more effective and long lasting than external reinforcers. </li>
        
        <li>Program areas are introduced and developed in a sequence that mirrors the individual development of the student as they master each milestone.</li>
        
        <li>Focus on what a student can do. Capitalize on student’s strengths to develop areas of challenge. </li>
        
        <li>Sensory and socio-emotional needs take priority in all interactions. Skill building is only effective when student is engaged and reciprocal.   </li>
        
        <li>All behavior is rooted on a biological or emotional response. No child should be punished for communicating how they feel. The goal is not to control a child but to help a child be in control of his/her self. </li>
        
        <li>Academics are best approached in a cross curricular format such as integrating math with movement or reading with arts, all driven by student interest. </li>
        
        <li>Mutually respectful relationships. We are not above the children. We work together, learn together, play together and get through hard times together!</li>
        
        <li> School environment should be responsive to the physiological, socio-emotional and developmental needs of our students.  </li>
        
        <li> Parents and caregivers are active participants in their child’s development. SPC supports families through classroom observation and coaching sessions to bridge home and school environments. </li>

      </ul>

      <p>TODO: MISSING QUOTE &amp; IMAGE</p>

      
      <h2>What is DIR?</h2>

      <p>The Developmental Individual Differences Relationship-based (DIR®) Model is an evidence based method developed by Dr. Stanley Greenspan. It is commonly utilized with children with educational, social-emotional, mental health, and/or developmental challenges, such as Autism Spectrum Disorder. The core belief of Greenspan’s Floortime Approach is that meaningful relationships and healthy development are the foundations of true learning, including academic skills. </p>

      <p>Dr. Greenspan identified six core developmental capacities and three additional ones, that every child should master. The six core developmental milestones or Functional Emotional Developmental Capacities (FEDC - http://www.icdl.com/dir/fedcs ), include attention and regulation, engagement, purposeful communication, problem solving, using ideas creatively and logically. The additional three describe a more advanced level of reflective thinking. The goal of Floortime is to follow the child's lead and create opportunities and challenges that help the child master each milestone through engaging and joyful interactions. </p>

      <blockquote>“Floortime  is the cornerstone, the engine that drives the DIR®/Floortime Model and drives the developmental process” - Dr. Greenspan</blockquote>

      <p>TODO: MISSING QUOTE &amp; VIDEO (http://www.cbc.ca/player/play/2220350494)</p>


      <h2>What is floortime?</h2>

      <p>Floortime refers to the practical piece of the DIR intervention model. It could be described as the time devoted to formally follow a child’s lead to encourage reciprocity, problem solving and creative thinking. </p>

      <table class="table">
        <thead>
          <tr>
            <td>Floortime is...</td>
            <td>Floortime is not...</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A way of interacting and responding to a child</td>
            <td>Play on the floor; follow a child aimlessly </td>
          </tr>
          <tr>
            <td>Tailored to child’s developmental level; considering child as a whole </td>
            <td>Based solely on chronological age of child </td>
          </tr>
          <tr>
            <td>Allowing the child to initiate and think</td>
            <td>A “break” from work or a difficult time</td>
          </tr>
          <tr>
            <td>Flexible and goal driven</td>
            <td>Unstructured; with no direction</td>
          </tr>
          <tr>
            <td>A safe space where a child can express and work through joyful and difficult emotions alike</td>
            <td>An isolated activity of the day </td>
          </tr>
          <tr>
            <td>Challenging</td>
            <td>Easy</td>
          </tr>
          <tr>
            <td>Integrated experience (sensorial, emotional etc)</td>
            <td>Isolated Skill Practice</td>
          </tr>
        </tbody>
      </table>
      
      <p>The Floortime technique relies in having a profound understanding of the child’s unique sensory, socio-emotional and developmental profile and tailoring interactions to be engaging, reciprocal and appropriately challenging. A skilled Floortime practitioner applies these principles in every interaction! </p>

      <p><strong>The science behind it:</strong> Principles of Neuroscience and <strong>Neuroplasticity</strong> indicate that the brain is constantly organizing and rewiring itself, strengthening and creating new neural connections in response to daily experiences. </p>

      <p>The Floortime practice offers the child with repeated joyful, challenging and <strong>integrated</strong> experience that will positively impact the way his/her brain develops.</p>

      <p>TODO: MISSING QUOTE &amp; https://topdocumentaryfilms.com/brain-changes-itself/ - Video about reserach book</p>


      <h2>Floortime Afternoons (coming soon)</h2>

      <p>SPC offers Floortime therapy sessions to the general community in the afternoons. This is an excellent opportunity for you and your child (any age) to become familiarized with the DIR®/Floortime™ method.</p>
      
      <p>The main idea behind the DIR®/Floortime™ method is that a trusting and meaningful relationship is the base for growth and development in every individual. We encourage parents and/or caregivers to fully participate in the sessions unless it is agreed that it is not beneficial for the child. Our goal is to empower parents on their relationship with their children and give them the tools to truly enjoy their child.</p>
      
      <p>Floortime therapy addresses the following areas:</p>
      
      <ul>
        <li>sensory regulation</li>
        <li>attention</li>
        <li>engagement</li>
        <li>problem solving</li>
        <li>communication</li>
        <li>other specific needs</li>
      </ul>

      <p>Contact us for additional information.</p>

      <p>TODO: MISSING QUOTE</p>
      

      <h2>Academics</h2>

      <p>SPC follows Sunshine State Standards Access Points for students with cognitive and developmental disabilities. We offer a 1.5:1 and 1:1 student/teacher ratios and a tailored program to better support the educational needs of our students. </p>

      <h3>Educational Program Components</h3>

      <h4>Ways to approach curriculum and activities:</h4>

      <div class="row text-center">
        <div class="col-4">
          <p><strong>Sensory (Concrete):</strong><br/>
            Teach with hands-on materials and sensory experiences.
          </p>
        </div>
        <div class="col-4">
          <p><strong>Object (Semi-Concrete):</strong><br/>
            Teach with representational materials to bridge concrete objects and abstract concepts.
          </p>
        </div>
        <div class="col-4">
          <p><strong>Symbolic (Abstract):</strong><br/>
            Teach with numerals, signs and symbols that are separate from the objects that have those attributes.
          </p>
        </div>
      </div>

      <h4>Curriculum:</h4>

      <p>Adapted curriculum and materials to best fit the needs of the individual student.</p>

      <h4>Research-Based Strategies:</h4>

      <p>Individualized Instruction / High Expectations / Whole Language Approach / Direct Instruction / Scaffold Instruction / Incidental Learning / Errorless Learning</p>

      <div class="row">
        <div class="col-6">
          <h4>Content Areas</h4>
          
          <p>Functional Literacy</p>
          <ul>
            <li>High frequency words </li>
            <li>Environmental print and symbol recognition </li>
            <li>Read Aloud and reading enjoyment</li>
            <li>Comprehension and Fluency</li>
            <li>Functional Writing</li>
          </ul>

          <p>Functional Math</p>
          <ul>
            <li>Number Sense</li>
            <li>Prepositions/Opposites </li>
            <li>Quantity and Measurement</li>
            <li>Money </li>
            <li>Time and Space </li>
          </ul>

          <p>Science and Social Studies</p>
          <ul>
            <li>Sensorial Exploration</li>
            <li>Community</li>
            <li>Current Events</li> 
          </ul>

        </div>

        <div class="col-6">
          <h4>Supplemental Areas</h4>
          
          <p>Specials</p>
          <ul>
            <li>Art</li>
            <li>Music</li>
            <li>Adapted Sports</li>
            <li>Physical Education </li>
            <li>Yoga and Mindfulness</li>
            <li>Meal preparation </li>
            <li>Gardening </li>
            <li>Leisure</li>
          </ul>  

          <p>Functional Skills</p>
          <ul>
            <li>Gross/Fine motor skills </li>
            <li>Visual Spatial </li>
            <li>Sensory Movement </li>
            <li>Social and Communication skills</li>
            <li>Independence and Personal care</li>
          </ul>

          <p>CBI - Community Based Instruction</p>
          <ul>
            <li>Behavior</li>
            <li>Safety and Awareness</li>
            <li>Socialization</li>
            <li>Generalization of skills </li>
            <li>Community outreach</li>
          </ul>

        </div>
      </div>

      
      <h2>A Day at SPC</h2>

      <p>At SPC, students will participate in a combination of structured and semi-structured academic and special activities based on student’s individual needs. The program focus is primarily on socio-emotional development and relationship building, therefore helping our students remain regulated and connected is infused in every part of the day.  </p>

      <p><strong>Arrival/Unpack:</strong> Students will work on independence goals, unpacking their backpacks and putting away their belongings. This is also a time to get their mind and bodies ready for the day.</p>

      <p><strong>Morning Meeting:</strong> Students will work on calendar concepts, current events, read alouds and social interactions.  </p>

      <p><strong>Snack/Lunch:</strong> Students will work on independence goals, making choices and social communication in a natural learning environment. </p>

      <p><strong>Academic Center:</strong> Students will receive instruction in core academic subjects. The format of the activities will depend on the developmental level of the students and could vary from sensory to symbolic based work.</p>

      <p><strong>Floortime:</strong> Students will receive individualized opportunity to work on initiation, engagement, reciprocity and problem solving.  </p>

      <p><strong>Playground:</strong> Students can enjoy fun games outside with their peers and/or teachers. </p>

      <p><strong>Sensory Regulation:</strong> Students will work on relaxing their bodies with breathing, yoga or bonding exercises using music and visual projections. </p>

      <p><strong>Specials:</strong> Students will be exposed to an array of activities such as sensory art, physical education, adapted sports, music, dance, yoga and mindfulness, sensory movement and more. </p>

      <p><strong>Community Based Instruction (CBI):</strong> Students will work on specific individual goals such as appropriate behavior, managing anxiety, communication skills, making purchases, handling money and interacting with the community. </p>

      <p><strong>Interest Groups:</strong> Students will participate in activities such as cooking, gardening, field trips and leisure outings to develop independence and personal interests. </p>


    </div>
  </div>

</div>